.App {
    text-align: center;
  }
  
  
  
  header {
    background-color: #282c34;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    filter: saturate(130%) contrast(110%) drop-shadow(12px 10px 8px);
  }

  .pokedex{
    color:rgb(236, 215, 27);
    filter: saturate(130%) contrast(110%) drop-shadow(4px 4px 8px);
  }
  
  
  
  .pokemon-detail{
    
    filter: saturate(130%) contrast(110%) drop-shadow(12px 10px 8px);
    transition: transform .15s;
  
  }
  
  .pokemon-detail:hover {
    transform: scale(1.5);
    color: lightgray;
    filter: saturate(120%) contrast(120%) drop-shadow(12px 10px 8px);
  }
  
  ul,ol{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    clear: left;
    justify-content: center;
    
  }
  
  .poke-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;

  }
  .poke-stats{
    display: block;
    align-self: center;
    font-size: 2em;
  }

  .name{
    font-size: 3rem;
  }
  .nav{
    display: inline-block;
    padding-right: 5%;
    clear: right;
  }